# Practice Problems

One of the best resources I have found for basic Python tutorials is www.geeksforgeeks.org. I have selected a few practice problems relevant to this class that I recommend you take a look at if you are still trying to wrap your head around loops, lists, data series, data frames, plotting, etc. 

If you would prefer to explore on your own, I recommend you take a look here.: https://www.geeksforgeeks.org/python-programming-language/

## Problem 1

Write a code that lists all prime numbers in a range. The answer can be found at: https://www.geeksforgeeks.org/python-program-to-print-all-prime-numbers-in-an-interval/

Hint: Consider a prime number $P$. The remainder of $P/n$ must always be greater than zero if $n$ is an integer and $1<n<P$. The remainder can be calculated using the modulus operator (%). For example:
<ul>
<li>99%9=0</li>
<li>99%98=1</li>
<li>99%5=4</li>

In [0]:
# write your answer here

## Problem 2

Write a code that asks for the user to input an integer and returns an integer. 

Hint: You will need to use the function `input()`. 

For more information, see: https://snakify.org/en/lessons/print_input_numbers/.

In [0]:
# write code here, answer is in the next code block

In [16]:
# note that input() returns a string by default, so you must convert to int()
inputnum = int(input("Please input an integer: "))
print(inputnum)
print(type(inputnum))

Please input an integer: 20
20
<class 'int'>

## Problem 3

Write a code that checks if two lists have anything in common.

In [0]:
# Write your code here

# Initialization of list 
list1 = [1, 2, 3, 4, 55] 
list2 = [2, 3, 90, 22]

In [21]:
# You might have come up with something like this, but this isn't the most "Pythonic" way to write this code.
 
# Initialization of list 
list1 = [1, 9, 7, 4, 55] 
list2 = [2, 7, 90, 22] 

# we will assign a flag of 0, if it never updates, then the lists do not share an element
flag = 0

for el1 in list1:
  for el2 in list2:
    if el1 == el2:
      # if elements are ever the same, flag is set to 1
      flag = 1

if flag==0:
  print('The lists do not share at least one element')
if flag==1:
  print('The lists share at least one element')

The lists share at least one element

In [28]:
# A more "Pythonic" way is to write this similarly, but recognize that you can use `if` rather than `for` to see is `el1` is in list2. This way still uses a loop.
# Initialization of list 
list1 = [1, 9, 7, 4, 55] 
list2 = [2, 8, 90, 22] 

# we will assign a flag of 0, if it never updates, then the lists do not share an element
flag = 0

for el1 in list1:
  if el1 in list2:
    # if elements are ever the same, flag is set to 1
    flag = 1

if flag==0:
  print('The lists do not share at least one element')
if flag==1:
  print('The lists share at least one element')

The lists do not share at least one element

In [31]:
# The most "Pythonic", and also the most unreadable, way is to use the "any()" function. 
# The any function returns a list of True and Falses, and the any() function then returns True if any element in this list is True, otherwise it returns False

# Initialization of list 
list1 = [1, 2, 3, 4, 55] 
list2 = [9, 8, 90, 22] 
  
# using any function 
out = any(check in list1 for check in list2)

if out:
  print('The lists share at least one element')
else:
  print('The lists do not share at least one element')

False
The lists do not share at least one element

## Problem 4

Without introducing a new variable, write a code that <b>swaps</b> variables `x` and `y`.

The answer can be found at: https://www.geeksforgeeks.org/swap-two-variables-in-one-line-in-c-c-python-php-and-java/.

In [0]:
x = 5
y = 10

## Problem 5

Import the following .csv file as a Pandas DataFrame: https://drive.google.com/file/d/1Uzdua5o61cfXMz1K16NNcwLFqG91J6W4/view. Note that this link is not to the raw .csv file, so you will have to figure out how to get Python to read it. 

This file contains a list of NBA players and some associated information. Where players did not attend college, Pandas reads in blanks as `NaN`. Write a code that replaces these `NaN` values with the string "No College".

The answer can be found at: https://www.geeksforgeeks.org/python-pandas-dataframe-fillna-to-replace-null-values-in-dataframe/.

## Problem 6

Consider the following Pandas DataFrame. Write a code that returns the unique values in Column B. 

The answer is at: https://www.geeksforgeeks.org/get-unique-values-from-a-column-in-pandas-dataframe/

In [35]:
# Import pandas package  
import pandas as pd 
  
# create a dictionary with five fields each 
data = { 
    'A':['A1', 'A2', 'A3', 'A4', 'A5'],  
    'B':['B1', 'B2', 'B3', 'B4', 'B4'],  
    'C':['C1', 'C2', 'C3', 'C3', 'C3'],  
    'D':['D1', 'D2', 'D2', 'D2', 'D2'],  
    'E':['E1', 'E1', 'E1', 'E1', 'E1'] } 
  
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data) 
print(df)

    A   B   C   D   E
0  A1  B1  C1  D1  E1
1  A2  B2  C2  D2  E1
2  A3  B3  C3  D2  E1
3  A4  B4  C3  D2  E1
4  A5  B4  C3  D2  E1